---
layout: base
---

{% assign session_index = page.session | minus: 1 %}
{% assign project_session = site.data.dates.project_sessions[session_index] %}
{% assign session_date = project_session.date %}

<article class="post roadmap">
    <header class="post-header">
        <h1 class="post-title">
            <span class="session-date">
                {{- session_date.day }} {{ session_date.value | date: "%d" }} {{ session_date.month | downcase -}}
            </span>
            {{ page.title }}
        </h1>
    </header>
    {% if page.last_updated %}
        <div class="post-sub-header">
            Dernière modification le {{ page.last_updated | date: "%d/%m/%Y" }}.
        </div>
    {% endif %}

    <div class="post-content">
        <h2>Programme</h2>
        <ol class="summary">
            {% for schedule_item in page.schedule %}
                <li><a href="#{{ schedule_item.name | slugify }}">{{ schedule_item.name }}</a></li>
            {% endfor %}
        </ol>

        {% for schedule_item in page.schedule %}
            <h2 id="{{ schedule_item.name | slugify }}">{{ schedule_item.name }}</h2>

            {% for content_item in schedule_item.content %}
                {% if content_item.text %}
                    {{ content_item.text | markdownify }}
                    {% continue %}
                {% endif %}

                {% if content_item.list %}
                    <ul>
                        {% for list_item in content_item.list %}
                            <li>{{ list_item | markdownify | replace: "<p>", "" | replace: "</p>", "" }}</li>
                        {% endfor %}
                    </ul>
                    {% continue %}
                {% endif %}

                {% comment %} <!-- Liens vers d'autres pages --> {% endcomment %}
                {% if content_item.related_pages %}
                    {% include _templates/list/_related_pages.liquid pages=content_item.related_pages %}
                    {% continue %}
                {% endif %}

                {% comment %} <!-- Inclure des templates spécifiques --> {% endcomment %}
                {% if content_item.include %}
                    {% case content_item.include.name %}
                        {% when "student_teams" %}
                            {% include _templates/list/_student_teams.liquid %}
                    {% endcase %}

                    {% continue %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>

    <footer>
        <nav>
            <div>
                {% if page.previous %}
                    {% assign previous_session_index = page.previous.session |  minus: 1 %}
                    {% assign previous_session = site.data.dates.project_sessions[previous_session_index] %}

                    <a href="{{ page.previous.url | relative_url }}">
                        [{{ page.previous.title }}]
                        {{ previous_session.date.value | date: "%d" }} {{ previous_session.date.month | downcase -}}
                    </a>
                {% endif %}
            </div>
            <div>
                {% if page.next %}
                    {% assign next_session_index = page.next.session | minus: 1 %}
                    {% assign next_session = site.data.dates.project_sessions[next_session_index] %}

                    <a href="{{ page.next.url | relative_url }}">
                        [{{ page.next.title }}]
                        {{ next_session.date.value | date: "%d" }} {{ next_session.date.month | downcase -}}
                    </a>
                {% endif %}
            </div>
        </nav>
    </footer>
</article>
