<div class="final-planning">
    {% assign jury_list = site.data.defense.jury_list | where_exp: "jury", "jury.group == include.project" %}
    {% assign jury_count = jury_list | size %}
    {% assign jury_width = jury_count %}
    {% assign jury_scope = site.data.defense._parameters._scopes._jury.scope %}

    <section class="jury grid-cols-{{ jury_width }}">
        {% for jury in jury_list %}
            <article class="col-span-1">
                <header>{{ jury.name }}</header>
                <main>
                    <div class="jury-detail">
                        {% if include.scope == jury_scope %}
                            <strong class="leader">{{ jury.lead }}</strong>
                        {% endif %}
                        <span class="room">{{ jury.room }}</span>
                    </div>
                </main>
            </article>
        {% endfor %}
    </section>

    <section class="planning">
        {% assign group_passage = 0 %}
        {% for time_slot in site.data.defense.time_slots %}
            {% comment %} <!-- Filtering --> {% endcomment %}
            {% if time_slot.scope and time_slot.scope != include.scope %}
                {% continue %}
            {% endif %}

            {% assign time_slot_groups = time_slot.groups | where_exp: "slot_group", "slot_group.group == include.project" %}

            {% comment %} <!-- Student max count --> {% endcomment %}
            {% assign student_max_count = 0 %}
            {% if time_slot_groups %}
                {% for slot_group in time_slot_groups %}
                    {% assign team = site.data.students.teams | where_exp: "team", "team.name == slot_group.name" | first %}
                    {% assign group_member_count = slot_group.order | size %}

                    {% if group_member_count > student_max_count %}
                        {% assign student_max_count = group_member_count %}
                    {% endif %}
                {% endfor %}
            {% endif %}

            {% comment %} <!-- Starting time + duration --> {% endcomment %}
            {% assign starting_time = time_slot.begin_at | default: ending_time | default: starting_time %}
            {% if time_slot.end_at %}
                {% assign ending_time = time_slot.end_at %}
            {% else %}
                {% assign ending_time = starting_time | plus: time_slot.duration %}
            {% endif %}

            {% assign has_group_steps = false %}
            {% if time_slot_groups %}
                {% assign duration = 0 %}
                {% for passage_step in time_slot.steps %}
                    {% if passage_step.duration %}
                        {% assign duration = duration | plus: passage_step.duration %}
                        {% continue %}
                    {% endif %}

                    {% if passage_step.internal_ref contains 'student' %}
                        {% for i in (1..student_max_count) %}
                            {% for ref_step in site.data.defense[passage_step.internal_ref] %}
                                {% assign duration = duration | plus: ref_step.duration %}
                            {% endfor %}
                        {% endfor %}
                    {% else %}
                        {% if passage_step.internal_ref contains 'group' %}
                            {% assign has_group_steps = true %}
                        {% endif %}

                        {% for ref_step in site.data.defense[passage_step.internal_ref] %}
                            {% assign duration = duration | plus: ref_step.duration %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}

                {% assign ending_time = starting_time | plus: duration %}
            {% else %}
                {% assign duration = ending_time | minus: starting_time %}
            {% endif %}

            {% assign slot_duration_coef = duration | divided_by: 5 | floor %}
            <article>
                <header>
                    <h2 class="name">
                        {{ time_slot.name }}
                        {% if time_slot.room %}
                            <span class="room">{{ time_slot.room }}</span>
                        {% endif %}
                    </h2>
                    <div class="time-slot">
                        <div class="start">{% include _templates/text/_hour_minute.liquid time=starting_time %}</div>
                        <div class="duration">
                            {% assign duration_hour = duration | divided_by: 60 | floor %}
                            {% assign duration_minute = duration | modulo: 60 | floor %}

                            {% if duration_hour > 0 %}
                                <span>{{ duration_hour }}h{{ duration_minute }}</span>
                            {% elsif duration_minute > 0 %}
                                <span>{{ duration_minute }} min</span>
                            {% endif %}
                        </div>
                        <div class="end">
                            {% if duration > 0 %}
                                {% include _templates/text/_hour_minute.liquid time=ending_time %}
                            {% endif %}
                        </div>
                    </div>
                </header>

                <main class="duration-coef-{{ slot_duration_coef }}{% if time_slot.steps %} with-steps{% endif %}">
                    {% comment %} <!-- Steps for group/student --> {% endcomment %}
                    {% assign last_group_ending = nil %}
                    {% if time_slot_groups %}
                        <div class="groups grid-cols-{{ jury_width }}">
                            {% assign filling_blank = 2 %}
                            {% for group in time_slot_groups %}
                                {% assign group_index_0 = forloop.index0 %}
                                {% assign group_step_starting = nil %}
                                {% assign group_step_ending = nil %}
                                {% assign filling_blank = filling_blank | minus: 1 %}

                                <div class="group group-{{ group.name | slugify }}">
                                    <div class="heading">
                                        <div class="name">{{ group.name }}</div>
                                        <div class="room">
                                            {{ jury_list[group_index_0].room }}
                                        </div>

                                        {% if include.scope == jury_scope %}
                                            <div class="jury">
                                                <div class="jury-detail">
                                                    <span>👑</span>
                                                    {{ jury_list[group_index_0].lead }}
                                                </div>

                                                {% assign jury_passage_i = time_slot.jury_roaster | minus: 1 %}
                                                {% for jury in jury_list[group_index_0].passages[jury_passage_i].roaster %}
                                                    <div class="jury-detail">{{ jury }}</div>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </div>

                                    <div class="content">
                                        {% comment %} <!-- GROUP -> {% endcomment %}
                                        {% if has_group_steps %}
                                            <div class="group-steps">
                                                {% for group_step in site.data.defense.group_steps %}
                                                    {% comment %} <!-- Duration --> {% endcomment %}
                                                    {% assign group_step_starting = group_step_ending | default: starting_time %}
                                                    {% assign group_step_ending = group_step_starting | plus: group_step.duration %}

                                                    {% comment %} <!-- Content --> {% endcomment %}
                                                    {% assign step_duration_coef = group_step.duration | divided_by: 5 | floor %}
                                                    <div class="step">
                                                        <div class="heading">
                                                            <div class="name">{{ group_step.name }}</div>
                                                            <div class="time-slot">
                                                                <div class="start">
                                                                    {% include _templates/text/_hour_minute.liquid time=group_step_starting %}
                                                                </div>
                                                                <div class="duration">
                                                                    {{ group_step.duration | floor }}min
                                                                </div>
                                                                <div class="end">
                                                                    {% include _templates/text/_hour_minute.liquid time=group_step_ending %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="empty duration-coef-{{ step_duration_coef }}"></div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {% assign group_step_ending = starting_time %}
                                        {% endif %}

                                        {% comment %} <!-- STUDENTS --> {% endcomment %}
                                        <div class="student-steps">
                                            {% comment %} <!-- Loop until student_max_count --> {% endcomment %}
                                            {% for i in (1..student_max_count) %}
                                                {% assign array_index = i | minus: 1 %}
                                                {% assign group_student_i = group.order[array_index] %}

                                                {% comment %} <!-- A) Student name --> {% endcomment %}
                                                <div class="heading">
                                                    {% if group_student_i %}
                                                        <div class="student-name">
                                                            <div class="name">{{ group_student_i }}</div>
                                                            <div class="room">
                                                                {{ jury_list[group_index_0].room }}
                                                            </div>
                                                        </div>
                                                    {% else %}
                                                        <div></div>
                                                    {% endif %}
                                                </div>

                                                {% comment %} <!-- B) Student steps --> {% endcomment %}
                                                {% for student_step in site.data.defense.student_steps %}
                                                    {% comment %} <!-- Duration --> {% endcomment %}
                                                    {% assign student_step_starting = student_step_ending | default: group_step_ending %}
                                                    {% assign student_step_ending = student_step_starting | plus: student_step.duration %}

                                                    {% comment %} <!-- Content --> {% endcomment %}
                                                    {% assign step_duration_coef = student_step.duration | divided_by: 5 | floor %}
                                                    <div class="step">
                                                        {% if group_student_i %}
                                                            <div class="student-step">
                                                                <div class="heading">
                                                                    <div class="name">{{ student_step.name }}</div>
                                                                    <div class="time-slot">
                                                                        <div class="start">
                                                                            {% include _templates/text/_hour_minute.liquid time=student_step_starting %}
                                                                        </div>
                                                                        <div class="duration">
                                                                            {{ student_step.duration | floor }}min
                                                                        </div>
                                                                        <div class="end">
                                                                            {% include _templates/text/_hour_minute.liquid time=student_step_ending %}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="empty duration-coef-{{ step_duration_coef }}"></div>
                                                            </div>
                                                        {% else %}
                                                            <div></div>
                                                        {% endif %}
                                                    </div>
                                                {% endfor %}
                                            {% endfor %}

                                            {% assign last_group_ending = student_step_ending %}
                                            {% assign student_step_starting = nil %}
                                            {% assign student_step_ending = nil %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                            {% if filling_blank > 0 %}
                                <div class="empty-group col-span-{{ filling_blank }}"></div>
                            {% endif %}
                        </div>

                        {% assign group_passage = group_passage | plus: 1 %}
                    {% endif %}

                    {% comment %} <!-- Steps after group/student --> {% endcomment %}
                    {% assign as_reached_group_student_steps = false %}
                    {% for after_group_step in time_slot.steps %}
                        {% if after_group_step.internal_ref %}
                            {% assign has_reached_group_student_steps = true %}
                        {% endif %}

                        {% if
                            has_reached_group_student_steps == false
                            or after_group_step.internal_ref
                        %}
                            {% continue %}
                        {% endif %}

                        <div class="after-group-step">
                            <div class="heading">
                                <div class="name">
                                    <h3>{{ after_group_step.name }}</h3>
                                    {% if after_group_step.room %}
                                        <span class="room">{{ after_group_step.room }}</span>
                                    {% endif %}
                                </div>

                                {% assign after_group_step_starting = after_group_step_ending | default: last_group_ending %}
                                {% assign after_group_step_ending = after_group_step_starting | plus: after_group_step.duration %}
                                <div class="time-slot">
                                    <div class="start">{% include _templates/text/_hour_minute.liquid time=after_group_step_starting %}</div>
                                    <div class="duration">
                                        {% assign duration_hour = after_group_step.duration | divided_by: 60 | floor %}
                                        {% assign duration_minute = after_group_step.duration | modulo: 60 | floor %}

                                        {% if duration_hour > 0 %}
                                            <span>{{ duration_hour }}h{{ duration_minute }}</span>
                                        {% elsif duration_minute > 0 %}
                                            <span>{{ duration_minute }} min</span>
                                        {% endif %}
                                    </div>
                                    <div class="end">
                                        {% if after_group_step.duration > 0 %}
                                            {% include _templates/text/_hour_minute.liquid time=after_group_step_ending %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                            {% assign step_duration_coef = after_group_step.duration | divided_by: 5 | floor %}
                            <div class="empty duration-coef-{{ step_duration_coef }}"></div>
                        </div>
                    {% endfor %}

                    {% assign after_group_step_starting = nil %}
                    {% assign after_group_step_ending = nil %}
                </main>
            </article>
        {% endfor %}
    </section>
</div>
